#appRoot {
  font-family: 'Inter', sans-serif !important;
  font-size: 16px !important;
}

.btn-lg {
  @include btn-default;
  height: $app-bar-height !important;
  width: 285px;
  font-size: 1.7em !important;
  padding: 30px 40px !important;
}

.btn-md {
  @include btn-default;
  padding: 30px 40px !important;
}

.btn-sm {
  @include btn-default;
  padding: 25px 35px !important;
}

@for $num from 1 through 150 {
  .w-#{$num} {
    width: #{$num} + '%';
  }
}

@for $num from 1 through 150 {
  .h-#{$num} {
    height: #{$num} + '%';
  }
}

@for $num from 1 through 100 {
  .flex-basis-#{$num} {
    flex-basis: #{$num} + '%';
  }
}
