@media (max-width: $breakpoint-sm) {
  .container-program-card {
    width: 90%;
  }

  .program-card {
    &-bg {
      width: 100%;
    }

    &-title {
      font-size: 3em !important;
    }

    &-description {
      font-size: 1em !important;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .description-card {
    font-size: 1.6em;
  }

  .menu-item {
    font-size: 1.3em;
  }

  .tutor-about {
    font-size: 1.2em !important;
  }

  .intro {
    align-items: flex-end !important;
    padding-right: calc(100vw - 90%);

    &-name {
      font-size: 4em !important;
    }

    &-description {
      font-size: 4em !important;
    }

    &-price {
      color: $main-title;
    }
  }

  #introAction {
    margin-right: 10vw;
  }

  .programs {
    height: 100% !important;

    &-tagline {
      font-size: 3em !important;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .tutor-about {
    font-size: 1.5em !important;
    padding-right: 2vw;
    padding-left: 3vw;
  }

  .tutor-hello {
    font-size: 1.8em !important;
  }

  // .programs {
  //   height: 100% !important;
  // }
}
