@media (max-width: $breakpoint-sm) {
  .container-program-card {
    width: 90%;
  }

  .program-card {
    &-bg {
      width: 100%;
    }

    &-title {
      font-size: 3em !important;
    }

    &-description {
      font-size: 1em !important;
    }
  }

  #platformDescription {
    font-size: 1.3rem;
  }
}

@media (min-width: $breakpoint-md) {
  .description-card {
    font-size: 1.6em;
  }

  .menu-item {
    font-size: 1.3em;
  }

  .tutor-about {
    font-size: 1.2em !important;
  }

  .intro {
    align-items: flex-end !important;
    padding-right: calc(100vw - 90%);

    &-name {
      font-size: 4em !important;
    }

    &-description {
      font-size: 4em !important;
    }

    &-price {
      color: $main-title;
    }
  }

  #introAction {
    margin-right: 10vw;
  }

  .programs {
    height: 100% !important;

    &-tagline {
      font-size: 3em !important;
    }
  }

  #programsBG {
    height: 400px !important;
  }

  .programs-audience {
    font-size: 2.5rem;
  }

  .sticker {
    width: 25vw;
    height: 24em;
    min-width: 240px;
    min-height: 260px;
    object-fit: contain;
  }

  #timePrice {
    font-size: 3rem;
  }

  #platformDescription {
    font-size: 2rem;
  }

  #questionForm {
    width: 80%;
  }

  #footerMediaIcons img {
    width: 70px;
  }

  #footerSiteInfo {
    font-size: 1rem;
  }

  #trialDescription {
    font-size: 3em;
  }
}

@media (min-width: $breakpoint-lg) {
  .tutor-about {
    font-size: 1.5em !important;
    padding-right: 2vw;
    padding-left: 3vw;
  }

  .tutor-hello {
    font-size: 1.8em !important;
  }

  #questionForm {
    width: 60%;
  }

  #appFooter {
    background: url('/footer_wave.png');
    background-size: cover;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    color: $main-text-color;
    padding: 80px;
  }

  .footer-section {
    height: 70%;
  }

  #footerLogo {
    height: $footer-logo-size;
    width: $footer-logo-size;
  }

  #footerInfo {
    font-size: 0.9rem;
  }

  #footerMenuItems {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
