app_port = {{app_container_port}}
aws_access_key = "{{aws.access_key}}"
aws_secret_key = "{{aws.secret_key}}"
app_db_name = "{{ db.name }}"
app_db_engine = "{{ db.engine }}"
app_db_engine_version = "{{ db.version }}"
app_db_port = "{{ db.port }}"
app_db_user = "{{ db.username }}"
app_db_pass = "{{ db.password }}"
